* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;

    @media (min-width: $media-desktop-xs) {
        padding: 0 20px;
    }
}

.title {
    font-size: 32px;
	font-weight: 700;
	line-height: 40px;
}

.link {
    color: $app-color-blue;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
}