$app-color-white: #fff;
$app-color-black: #000;
$app-color-blue: #127ac1;
$app-color-dark-blue: #31394d;
$app-color-grey-blue: #748aa1;
$app-color-grey--10: #e5e9f2;
$app-color-grey--20: #90a1b4;

$media-mobile-sm: 576px;
$media-desktop-xs: 992px;